<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 對應持久層的介面 -->
<mapper namespace="cooba.IndustryPerformance.database.mapper.StockStatisticsMapper">
    <resultMap type="cooba.IndustryPerformance.database.entity.StockStatistics.StockStatistics" id="stockstatistics">
        <result column="id" property="id"/>
        <result column="stockcode" property="stockcode"/>
        <result column="avgCost" property="avgCost"/>
        <result column="avg5dCost" property="avg5dCost"/>
        <result column="avg10dCost" property="avg10dCost"/>
        <result column="avg21dCost" property="avg21dCost"/>
        <result column="avg62dCost" property="avg62dCost"/>
        <result column="avgShare" property="avgShare"/>
        <result column="avg10dVolume" property="avg10dVolume"/>
        <result column="avg21dVolume" property="avg21dVolume"/>
        <result column="tradingDate" property="tradingDate"/>
    </resultMap>

    <insert id="insertStockStatistics"
            parameterType="cooba.IndustryPerformance.database.entity.StockStatistics.StockStatistics">
        INSERT INTO
        StockStatistics(id, stockcode, avgCost, avg5dCost, avg10dCost, avg21dCost, avg62dCost, avgShare, avg10dVolume,
        avg21dVolume,
        tradingDate)
        VALUES(#{id}, #{stockcode}, #{avgCost}, #{avg5dCost}, #{avg10dCost}, #{avg21dCost}, #{avg62dCost},
        #{avgShare}, #{avg10dVolume}, #{avg21dVolume}, #{tradingDate})
        ON DUPLICATE KEY UPDATE avgCost=#{avgCost}, avg5dCost=#{avg5dCost}, avg10dCost=#{avg10dCost},
        avg21dCost=#{avg21dCost}, avg62dCost=#{avg62dCost}, avgShare=#{avgShare},avg10dVolume=#{avg10dVolume},
        avg21dVolume=#{avg21dVolume}
    </insert>
</mapper>