<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 對應持久層的介面 -->
<mapper namespace="cooba.IndustryPerformance.database.mapper.StockDetailMapper">
    <resultMap type="cooba.IndustryPerformance.database.entity.StockDetail.StockDetail" id="stockdetail">
        <result column="id" property="id"/>
        <result column="stockcode" property="stockcode"/>
        <result column="name" property="name"/>
        <result column="industryType" property="industryType"/>
        <result column="companyType" property="companyType"/>
        <result column="price" property="price"/>
        <result column="lastprice" property="lastprice"/>
        <result column="open" property="open"/>
        <result column="highest" property="highest"/>
        <result column="lowest" property="lowest"/>
        <result column="tradingVolume" property="tradingVolume"/>
        <result column="createdTime" property="createdTime"/>
        <result column="sharesTraded" property="sharesTraded"/>
        <result column="turnover" property="turnover"/>
    </resultMap>

    <insert id="insertStockDetail" parameterType="cooba.IndustryPerformance.database.entity.StockDetail.StockDetail">
        INSERT INTO
        StockDetail(id, stockcode, name, industryType, companyType, price, lastprice, open, highest, lowest,
        tradingVolume, createdTime, sharesTraded, turnover)
        VALUES(#{id}, #{stockcode}, #{name}, #{industryType}, #{companyType}, #{price}, #{lastprice}, #{open},
        #{highest}, #{lowest}, #{tradingVolume}, #{createdTime}, #{sharesTraded}, #{turnover})
        ON DUPLICATE KEY UPDATE price=#{price}, lastprice=#{lastprice}, open=#{open}, highest=#{highest},
        lowest=#{lowest}, tradingVolume=#{tradingVolume}, industryType=#{industryType}, companyType=#{companyType}
    </insert>

    <select id="findStockDetail" resultType="long">
        SELECT id FROM StockDetail WHERE stockcode=#{stockcode} AND createdTime=#{createdTime}
    </select>
</mapper>