<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 對應持久層的介面 -->
<mapper namespace="cooba.IndustryPerformance.database.mapper.StockDetailMapper">
    <resultMap type="cooba.IndustryPerformance.database.entity.StockDetail.StockDetail" id="stockdetail">
        <result column="stockcode" property="stockcode"/>
        <result column="name" property="name"/>
        <result column="industryType" property="industryType"/>
        <result column="companyType" property="companyType"/>
        <result column="price" property="price"/>
        <result column="lastprice" property="lastprice"/>
        <result column="open" property="open"/>
        <result column="highest" property="highest"/>
        <result column="lowest" property="lowest"/>
        <result column="tradingVolume" property="tradingVolume"/>
        <result column="createdTime" property="createdTime"/>
    </resultMap>

    <insert id="insertStockDetail" parameterType="cooba.IndustryPerformance.database.entity.StockDetail.StockDetail"
            useGeneratedKeys="true" keyProperty="id">
        insert into
        StockDetail(stockcode,name,industryType,companyType,price,lastprice,open,highest,lowest,tradingVolume,createdTime)
        values(#{stockcode},#{name},#{industryType},#{companyType},#{price},#{lastprice},#{open},#{highest},#{lowest},#{tradingVolume},#{createdTime})
    </insert>
</mapper>