spring:
  datasource:
    url: jdbc:mysql://localhost:3306/IndustryPerformance
    username: root
    password: example
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        hbm2ddl.auto: create-drop

  data:
    mongodb:
      host: ${HOST:localhost}
      port: ${PORT:27017}
      database: ${DATABASE:IndustryPerformance}
    redis:
      database: 0
      host: ${REDISHOST:localhost}
      port: ${REDISPORT:6379}
      pool:
        max-idle: 8
        min-idle: 0
        max-active: 8
        max-wait: -1
mybatis:
  mapper-locations: classpath:mappers/*xml
stock:
  csv:
    path: "D:\\"
logging:
  level:
    org.springframework.data.mongodb.core.MongoTemplate: DEBUG
    org.hibernate.SQL: DEBUG
    com.test.mapper: DEBUG

