<?xml version="1.0" encoding="UTF-8" ?>
<!--
    status的值有 “trace”, “debug”, “info”, “warn”, “error” and “fatal”
    status="warn" 日誌框架本身的輸出日誌級別，可以修改為debug
    monitorInterval="5" 自動載入配置檔案的間隔時間，不低於 5秒；生產環境中修改配置檔案，是熱更新，無需重啟應用
    %c 输出logger名称
    %C 输出类名
    %d{HH:mm:ss.SSS} 表示输出到毫秒的时间
    %t 输出当前线程名称
    %-5level 输出日志级别，-5表示左对齐并且固定输出5个字符，如果不足在右边补0
    %logger 输出logger名称，因为Root Logger没有名称，所以没有输出
    %msg 日志文本
    %n 换行

    其他常用的占位符有：
    %F 输出所在的类文件名，如Log4j2Test.java
    %L 输出行号
    %M或%method 输出所在方法名
    %l 输出完整的错误位置, 包括类名、方法名、文件名、行数
    %p 该条日志的优先级
    %replace{pattern}{regex}{substitution} 将pattern的输出结果pattern按照正则表达式regex替换成substitution
————————————————
版权声明：本文为CSDN博主「兔币难波万」的原创文章，遵循CC 4.0 BY-SA版权协议，转载请附上原文出处链接及本声明。
原文链接：https://blog.csdn.net/ctubinanbowan/article/details/105374279
 -->
<configuration status="warn" monitorInterval="5">
    <!--
    集中配置屬性進行管理
    使用時通過:${name}
    -->
    <properties>
        <property name="LOG_HOME">D:/logs</property>
        <property name="FILE_NAME">project</property>
    </properties>

    <!-- 日誌處理 -->
    <Appenders>
        <!-- 控制檯輸出 appender，SYSTEM_OUT輸出黑色，SYSTEM_ERR輸出紅色 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5level [%10t] %c{1} %L -%msg%n"/>
        </Console>

        <!-- 日誌檔案輸出 appender -->
        <RollingRandomAccessFile name="RollingRandomAccessFile" fileName="${LOG_HOME}/${FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd HH-mm}-%i.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %l%M%L - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>

        <Async name="Async">
            <AppenderRef ref="RollingRandomAccessFile"/>
        </Async>
    </Appenders>

    <!-- logger 定義 -->
    <Loggers>
        <!-- 自定義 logger 物件
            includeLocation="false" 關閉日誌記錄的行號資訊，開啟的話會嚴重影響非同步輸出的效能
            additivity="false" 不再繼承 rootlogger物件
         -->
        <AsyncLogger name="com.log" level="trace" includeLocation="true" additivity="false">
            <AppenderRef ref="Console"/>
        </AsyncLogger>
        <!-- 使用 rootLogger 配置 日誌級別 level="trace" -->
        <Root level="info">
            <!-- 指定日誌使用的處理器 -->
            <AppenderRef ref="Console"/>
            <!-- 使用非同步 appender -->
            <AppenderRef ref="Async"/>
        </Root>
    </Loggers>
</configuration>